# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# ignore samples and data folders
/MFCC-CNN/samples/
/MFCC-CNN/data/
/MFCC-CNN-OneHot/samples/
/MFCC-CNN-OneHot/data/
/PANNsTeachers/samples/
/PANNsTeachers/data/
PANNsTeachers/PannsPth/Cnn14_mAP=0.431.pth
PANNsTeachers/PannsPth/Cnn14_mAP=0.431.pth
